@use "variables" as *;

.blog-header{
    background-image: url(../../../assets/blog-header-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.blog-title{
    transform: translateY(150px);
    h1{
        font-size: 6rem;
        margin-left: 35px;
    }
}

.main-flex{
    display: flex;
}

.bar1-posts{
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.side-img{
    max-width: 60%;
    margin-top: 100px;
    margin-bottom: 20px;
    box-shadow: 43px 30px 0px -7px $tertiary;
}

.side-blog{
    background-color:$tertiary;
    max-width: 58%;
    margin-left: 50px;
    margin-top: -5px;
}

.our-mission{
    padding-left: 50px;
    max-width: 80%;
    h4 {
        margin: 0;
    }
    span{
        font-weight: bolder;
        color: $quinary;
    }
}

.posts{
    max-width: 70%;
    h4{
        padding-left: 50px;
        margin: 0;
    }
    li{
        margin-left: -18px;
    }
}

.recent-posts{
    padding-left:95px;
    li{
        list-style-type:disc;
        font-size: 1rem;
        color: $quaternary;
        span{
            color: $secondary;
            font-size: 1.5rem;
        }
    }
}

.main-blog{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 200px;
}

.blog-post-img{
    box-shadow: -30px 40px 0px 4px $quinary;
}

.new-menu{
    margin: 28px 0 10px -22px;
    padding-top: 20px;
    box-shadow: -13px 14px 0px -1px $quinary;
    padding-left: 50px;
    h2{
        margin-bottom: 40px;
    }
}

.blog-date{
    margin-top: -15px;
    color: $quinary;
}

.comments{
    margin-bottom: 0px;
} 

.comment-1{
    display: flex;
    .sulaire{
        margin-top: 40px;
        margin-right: 20px;
    }
    .sulaires-comment{
        max-width: 75%;
        display: flex;
        flex-direction: column;
    }
    .comment-date{
        font-size: 1.75rem;
        margin-bottom: -10px;
        color: $quinary;
    }
}

.comment-2{
    display: flex;
    margin-top: 20px;
    .renzo{
        margin-top: 40px;
        margin-right: 20px;
    }
    .renzos-comment{
        max-width: 75%;
        display: flex;
        flex-direction: column;
    }
    .comment-date{
        font-size: 1.75rem;
        margin-bottom: -10px;
        color: $quinary;
    }
}

