@use "variables" as *;

.contact-header {
        background-image: url(../../../assets/contact-header-1.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        max-width: 100%;
}

.contact-title {
    transform: translateY(180px);
    margin-left: 160px;
    h1{
        font-size: 5.2rem;
    }
}

.bottom-section{
    display: flex;
    margin-left: 100px;
}

// connect 

.connect {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.socials li{
    display: flex;
}

ul li{
    margin: 0 10px;
    list-style: none;
}

.contact-info{
    display: flex;
    flex-direction: column;
}

.contact-info h4 {
    display: flex;
    margin-left: 45px;
    margin-bottom: 0;
}

.contact-btn{
    display: flex;
}