@use "variables" as *;

.contact-header {
        background-image: url(../../../assets/contact-header-1.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        max-width: 100%;
}

.contact-title {
    transform: translateY(180px);
    margin-left: 150px;
    h1{
        font-size: 6rem;
    }
}

.bottom-section{
    display: flex;
    margin-left: 90px;
}

// connect 

.connect {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.socials li{
    display: flex;
    justify-content: space-between;
}

ul i{
    margin: 0 10px;
}

.contact-info ul{
    margin-top: 0;
}

.contact-info{
    display: flex;
    flex-direction: column;
   
    li{
        list-style: none;
    }
}

.contact-info h4 {
    display: flex;
    margin-left: 45px;
    margin-top: 0;
}

.contact-btn{
    display: flex;
}