@use "variables" as *;


footer{
    background-color: $primary;
    color: $secondary;
    font-size:1.95rem ;
}

footer p{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}