@use "variables" as *;


/* blog page form */

.blog-form {
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .name,
    .email-address{
        padding-right: 100px;
        padding-bottom: 20px;
        background-color: $primary;
        border-color:$quinary ;
        width: 27%;
        font-family: $primary-font;
    }
    textarea{
        background-color: $primary;
        border-color: $quinary;
        font-family: $primary-font;
        }
}
 .message .blog-btn{
    padding: 5px 240px;
    font-family: $secondary-font;
}

/* contact page form */

.form-box{
    display: flex;
    margin-left: 50px;
    background-color: $tertiary;
    height: fit-content;
    width: fit-content;
    transform: translateY(-160px);
}

form {
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-shadow: 33px 37px 0px -10px $quinary;
}

.form-container {
    display: flex;
    margin-bottom: 40px;
}

.name{
    margin-right: 20px;
}

.name,
.email-address {
    border: none;
    border-bottom: 2px solid $secondary;
    width: 50%;
    background-color: $tertiary;
    color: $secondary;
    font-family: $primary-font;
    font-size: 1.75rem;
}

textarea {
    border: 2px solid $secondary;
    resize: none;
    margin-bottom: 50px;
    padding: 10px;
    background-color: $tertiary;
    color: $secondary;
    font-family: $primary-font;
    font-size: 1.75rem;
}

.message{
    button{
        padding: 5px 335px;
        font-family: $secondary-font;
    }
}


