@use "variables" as *;


.homepg-header{
    background-image: url(../../assets/home-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.homepg-title{
    position: absolute;
    top: 250px;
    transform: translateX(440px);
    z-index: 1;
    font-family: $secondary-font;
    font-weight: 400;
    color: $quinary;
    h2{
        font-family: $primary-font;
        font-size: 5rem;
        color: $secondary;
        position: relative;
        top: -90px;
        margin-left: 10px;
    }
}

.headerbox-img{
    position: absolute;
    right: 0;
    top:330px;
    width:52%;
}

.container1{
    display: flex;
    max-width: 90%;
    margin-top: 150px;
    margin-left: 50px;
    .new-space{
        margin-right: 50px;
        margin-left: 100px;
    }
}

.container2{
    display: flex;
    max-width: 90%;
    margin-bottom: 100px;
    margin-left: 50px;
    .blog{
        margin-right: 50px;
        margin-left: 100px;
    }
}

.solid-house,
.solid-users,
.solid-file,
.solid-phone{
    display: flex;
    align-items: center;
    margin-bottom: -80px;
    margin-left: -65px;
    h4{
        margin-left: 15px;
    }
    i{
        border-radius: 50%;
        background-color: $quaternary;
        padding: 15px;
        font-size: 1rem;
    }
}

.plan-locations{
    display: flex;
    flex-wrap: wrap;
    background-color: $tertiary;
}

.box-1{
    max-width: 45%;
    box-shadow: 25px 23px 0px 1px $quinary;
    margin-bottom: 50px;
    margin-right: 50px;
    transform: translateY(-50px);
}

.box-2{
    max-width: 35%;
    margin-top: 20px;
    h4{
        margin-bottom: 0;
    }
    button{
        padding: 5px 35px;
    }
}

.box-3{
    max-width: 35%;
    margin-left: 150px;
    margin-top: -50px;
    h4{
        text-align: end;
        margin-bottom: 0;
    }
    button{
        padding: 5px 35px;
        margin-left: 350px;
    }
}

.box-4{
    max-width: 40%;
    margin-left: 165px;
    box-shadow: -32px 28px 0px -5px $quinary;
    transform: translateY(20px);
}

.party-info{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    h2{
        text-align: center;
        color: $quinary ;
        margin-bottom: 0;
    }
    button{
        padding: 5px 40px;
    }
}

.events{
    display: flex;
    max-width: 80%;
    margin-bottom: 100px;
    .small-img{
        margin-top: 210px;
        max-width: 40%;
        box-shadow: -30px 28px 0px -5px $quinary;
    }
    .event-text{
        max-width: 60%;
        margin-top: 100px;
        margin-left: 100px;
        h3{
            color: $quinary;
        }
        button{
            padding: 8px 40px
        }
    }
}

.home-gallery{
    background-color: $tertiary;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 80px;
    margin: 0;
}

.home-gallery li{
    flex-basis: 32%;
    list-style: none;
}