@use "variables" as *;

/* to remove the hamburger menu from tablet and desktop views */
@media (min-width:500px){
    label[for="toggle"] {
    display: none;
    }
    input[type="checkbox"]{
    display: none;
    }
}

/* mobile view */
/* sliding menu reference from Intro to web dev course on advance selectors */

@media (max-width:500px){

    nav ul{
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }

    ul.sliding-menu{
        background-color:$primary;
        position: fixed;
        z-index: 10;
        width: 50%;
        left: -50%;
        top: 0;
        height: 39%;
        transition: all 0.5s;
    }

    ul.sliding-menu a{
        border-bottom: 1px solid $secondary;
        display: inline-block;
        font-size:1.8rem;
        width: 100%;
        padding: 20px 0;
        padding-left: 15px;
        transition: all 0.3s;
        margin: 0;
    }

    ul.sliding-menu a:hover,
    ul.sliding-menu a:focus{
        background:$tertiary;
    }

    input[type="checkbox"]:checked + ul.sliding-menu{
        left: 0;
    }

    input[type="checkbox"]{
        display: none;
    }

    label[for="toggle"]{
        position: fixed;
        top: 50px;
        right: 20px;
        color: $secondary;
        z-index: 10;
        font-size: 3rem;
    }

    html{
        font-size: 1.25rem;
        h1{
            font-size: 4rem;
        }
        h2{
            font-size: 3rem;
        }
        h3,h4{
            font-size: 2.5rem;
        }
    }

    .homepg-header{
        height: 50vh;
    }

    .homepg-title{
        top: 150px;
        h1{
            font-size: 6rem;
            transform: translateX(-370px);
        }
        h2{
            font-size: 3rem;
            transform: translateX(-370px);
            top:-40px;
        }
    }

    .solid-house i,
    .solid-users i,
    .solid-file i,
    .solid-phone i{
        padding: 8px;
        font-size: 1rem;
    }
    
    .container1,
    .container2{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-top: 0;
        .new-space,
        .blog{
            margin: 0;
            padding: 0;
        }
    }

    .plan-locations{
        button{
            font-size: 1.25rem;
            max-width: 90%;
            padding: 5px 20px;
            margin-left: 5px;
            margin-bottom: 20px;
        }
        .box-2{
        max-width:70%;
        margin-top:0px;
        }
        .box-3{
        max-width:70%;
        margin-top:0px;
        margin-left:auto;
        h4{
            text-align: start;
        }
         }
         .box-1,
         .box-4{
            max-width: 90%;
            margin: 0;
            padding: 0;
            box-shadow: 25px 23px 0px 1px $quinary;
         }
    }

    .party-info{
        transform: translateY(-20px);    
        h2{
       margin-left: -20px;
        }
        p{
        margin-top: 20px;   
        }
        button{
        padding: 5px 20px;
        margin-right: 20px; 
        margin-bottom: -50px;
        font-size:1.25rem;
        }
    } 

    .events{
        flex-direction: column;
        .small-img{
            margin-top: 100px;
            max-width: 80%;
            box-shadow: 30px 28px 0px -5px $quinary;
        }
        .event-text {
        max-width: 100%;
        margin: 0;
        h3{
            text-align: center;
        }
        button{
            font-size: 80%;
            margin:0 50px;
            padding: 5px 20px;
        }
        }
    }
    .home-gallery{
        flex-direction: column;
        margin: 50px 0;
        padding: 0 50px;
        li{
            max-width: 100%;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }
    footer{
        font-size: 1.75rem;
        p{
            text-align: center;
        }
    }

    .blog-header{
        height:50vh;
    }

    .main-flex{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }

    .side-img{
        max-width: 100%;
        margin-top:50px;
        box-shadow: none;
    }

    .side-blog,
    .our-mission,
    .posts{
       max-width: 100%;
       margin-left: 0;
       margin-top: 50px;
    }
  
    .posts{
        margin-bottom: 50px;
    }

    .main-blog{
        margin-top: 150px;
        max-width: 90%;
        bottom: 100px;
        .blog-form{
            justify-content: center;
            justify-items: center;
            .name,
            .email-address{
                font-size: 1rem;
            }
            textarea{
                font-size: 1rem;
                max-width: 100%;
            }
            .blog-btn{
                padding: 8px 20px;
                font-size: 1.25rem;
            }
        }
    }

    .contact-header{
        height: 50vh;
    }
    .contact-title{
        margin: 0;
        text-align: center;
        line-height: 50px;
    }
    .socials,
    .contact-info{
    transform: translateY(200px);
    margin-left: -50px;
    }
  
    .form-box{
        max-width: fit-content;
        margin-top: 20px;
        form{
            box-shadow: none;
            max-width: 100%;
        
        }
        transform: translateX(-480px);
        
        .contact-btn{
            padding: 8px 20px;
        }
      .name,
      .email-address{
        font-size: 1.25rem;
        max-width: 20%;
      }
      textarea{
        font-size: 1.25rem;
        max-width: 40%;
      }
    }

    .connect{
        .socials {
            margin: 250px 0 0 0;
            padding-left: 0;
        }
        .contact-info{
            margin-top: 30px;
            margin-bottom:300px;
            ul li{
                max-width: 100%;
            }
        }

    }
}

@media (max-width:900px){

    html{
        font-size: 1.25rem;
        h1{
            font-size: 4rem;
        }
        h2{
            font-size: 3rem;
        }
        h3,h4{
            font-size: 2.5rem;
        }
    }

    nav{
        justify-content: center;
    }

    .homepg-title{
        top: 150px;
        h1{
            font-size: 6rem;
            transform: translateX(-170px);
        }
        h2{
            font-size: 3rem;
            transform: translateX(-170px);
            top:-40px;
        }
    }

    .headerbox-img { display: none;}
    .blog-post-img {display: none;}
    .homepg-header{
        height:40vh;
    }
    .homepg-header nav {
        display: flex;
    }
    .blog-post-img,
    .new-menu{
        box-shadow:none;
    }
    .blog-form{
        display: none;
    }

    .form-box{
        display: none;
    }

}




