@use "variables" as *;

nav{
    display:flex;
    justify-content:center;
    padding-top: 30px;
    font-size:2rem;
    font-weight: 700;
    line-height:29px;
    letter-spacing:1.9px;
}

nav a {
    margin-right:40px;
    text-decoration: none;
    color: $secondary;
}

a:hover,
a:focus{
    color: $quinary;
}

nav .bar-one{
    font-family:$secondary-font;
    font-size: 3rem;
    font-weight: 700;
    pointer-events: none;
}