@use "variables" as *;

body{
    font-family:$primary-font;
    font-size: 1.5rem;
    color: $secondary;
    background-color: $primary;
    line-height: 30px; 
    letter-spacing:1.25px;
}

h1{
    font-size: 5rem;
    letter-spacing: 2.4px;
}

h2{
    font-size: 4rem;
    letter-spacing: 2.6px;
}

h3,
h4 {
    font-size: 3rem;
    letter-spacing: 2.2px;
}

button{
    font-family: $secondary-font;
    font-size: 1.5rem;
    line-height: 32px;
    letter-spacing: 1px;
    color:$secondary;
    background-color: $quaternary;
    border: none;
}

li{
    list-style: none;
}
