// site fonts
$primary-font:"Chathura", sans-serif;
$secondary-font:"Tulpen One", cursive;

// site colours
$primary:#111010;
$secondary:#FFFFFF;
$tertiary:#220303;
$quaternary:#BF2603;
$quinary:#FF8327;