html{
    font-size: 125%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

.wrapper{
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

