html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Chathura", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #111010;
  line-height: 30px;
  letter-spacing: 1.25px;
}

h1 {
  font-size: 14rem;
  font-weight: 400;
  letter-spacing: 2.4px;
}

h2 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 2.6px;
}

h3,
h4 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2.2px;
}

button {
  font-family: "Tulpen One", cursive;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #BF2603;
  border: none;
}

li {
  list-style: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1.9px;
}

nav a {
  margin-right: 40px;
  text-decoration: none;
  color: #FFFFFF;
}

a:hover,
a:focus {
  color: #FF8327;
}

nav .bar-one {
  font-family: "Tulpen One", cursive;
  font-size: 3rem;
  font-weight: 700;
  pointer-events: none;
}

footer {
  background-color: #111010;
  color: #FFFFFF;
  font-size: 1.95rem;
}

footer p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

/* blog page form */
.blog-form {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
.blog-form .name,
.blog-form .email-address {
  padding-right: 100px;
  padding-bottom: 20px;
  background-color: #111010;
  border-color: #FF8327;
  width: 27%;
  font-family: "Chathura", sans-serif;
}
.blog-form textarea {
  background-color: #111010;
  border-color: #FF8327;
  font-family: "Chathura", sans-serif;
}

.message .blog-btn {
  padding: 5px 240px;
  font-family: "Tulpen One", cursive;
}

/* contact page form */
.form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  background-color: #220303;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
}

form {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  -webkit-box-shadow: 33px 37px 0px -10px #FF8327;
          box-shadow: 33px 37px 0px -10px #FF8327;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.name {
  margin-right: 20px;
}

.name,
.email-address {
  border: none;
  border-bottom: 2px solid #FFFFFF;
  width: 50%;
  background-color: #220303;
  color: #FFFFFF;
  font-family: "Chathura", sans-serif;
  font-size: 1.75rem;
}

textarea {
  border: 2px solid #FFFFFF;
  resize: none;
  margin-bottom: 50px;
  padding: 10px;
  background-color: #220303;
  color: #FFFFFF;
  font-family: "Chathura", sans-serif;
  font-size: 1.75rem;
}

.message button {
  padding: 5px 335px;
  font-family: "Tulpen One", cursive;
}

.contact-header {
  background-image: url(../../../assets/contact-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  max-width: 100%;
}

.contact-title {
  -webkit-transform: translateY(180px);
          transform: translateY(180px);
  margin-left: 150px;
}
.contact-title h1 {
  font-size: 6rem;
}

.bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 90px;
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

.socials li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul i {
  margin: 0 10px;
}

.contact-info ul {
  margin-top: 0;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-info li {
  list-style: none;
}

.contact-info h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 45px;
  margin-top: 0;
}

.contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-header {
  background-image: url(../../../assets/blog-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}

.blog-title {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}
.blog-title h1 {
  font-size: 6rem;
  margin-left: 35px;
}

.main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar1-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90%;
}

.side-img {
  max-width: 60%;
  margin-top: 100px;
  margin-bottom: 20px;
  -webkit-box-shadow: 43px 30px 0px -7px #220303;
          box-shadow: 43px 30px 0px -7px #220303;
}

.side-blog {
  background-color: #220303;
  max-width: 58%;
  margin-left: 50px;
  margin-top: -5px;
}

.our-mission {
  padding-left: 50px;
  max-width: 80%;
}
.our-mission h4 {
  margin: 0;
}
.our-mission span {
  font-weight: bolder;
  color: #FF8327;
}

.posts {
  max-width: 70%;
}
.posts h4 {
  padding-left: 50px;
  margin: 0;
}
.posts li {
  margin-left: -18px;
}

.recent-posts {
  padding-left: 95px;
}
.recent-posts li {
  list-style-type: disc;
  font-size: 1rem;
  color: #BF2603;
}
.recent-posts li span {
  color: #FFFFFF;
  font-size: 1.5rem;
}

.main-blog {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 200px;
}

.blog-post-img {
  -webkit-box-shadow: -30px 40px 0px 4px #FF8327;
          box-shadow: -30px 40px 0px 4px #FF8327;
}

.new-menu {
  margin: 28px 0 10px -22px;
  padding-top: 20px;
  -webkit-box-shadow: -13px 14px 0px -1px #FF8327;
          box-shadow: -13px 14px 0px -1px #FF8327;
  padding-left: 50px;
}
.new-menu h2 {
  margin-bottom: 40px;
}

.blog-date {
  margin-top: -15px;
  color: #FF8327;
}

.comments {
  margin-bottom: 0px;
}

.comment-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment-1 .sulaire {
  margin-top: 40px;
  margin-right: 20px;
}
.comment-1 .sulaires-comment {
  max-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comment-1 .comment-date {
  font-size: 1.75rem;
  margin-bottom: -10px;
  color: #FF8327;
}

.comment-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.comment-2 .renzo {
  margin-top: 40px;
  margin-right: 20px;
}
.comment-2 .renzos-comment {
  max-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comment-2 .comment-date {
  font-size: 1.75rem;
  margin-bottom: -10px;
  color: #FF8327;
}

.homepg-header {
  background-image: url(../../assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.homepg-title {
  position: absolute;
  top: 250px;
  -webkit-transform: translateX(440px);
          transform: translateX(440px);
  z-index: 1;
  font-family: "Tulpen One", cursive;
  font-weight: 400;
  color: #FF8327;
}
.homepg-title h2 {
  font-family: "Chathura", sans-serif;
  font-size: 5rem;
  color: #FFFFFF;
  position: relative;
  top: -90px;
  margin-left: 10px;
}

.headerbox-img {
  position: absolute;
  right: 0;
  top: 330px;
  width: 52%;
}

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  margin-top: 150px;
  margin-left: 50px;
}
.container1 .new-space {
  margin-right: 50px;
  margin-left: 100px;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  margin-bottom: 100px;
  margin-left: 50px;
}
.container2 .blog {
  margin-right: 50px;
  margin-left: 100px;
}

.solid-house,
.solid-users,
.solid-file,
.solid-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -80px;
  margin-left: -65px;
}
.solid-house h4,
.solid-users h4,
.solid-file h4,
.solid-phone h4 {
  margin-left: 15px;
}
.solid-house i,
.solid-users i,
.solid-file i,
.solid-phone i {
  border-radius: 50%;
  background-color: #BF2603;
  padding: 15px;
  font-size: 1rem;
}

.plan-locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #220303;
}

.box-1 {
  max-width: 45%;
  -webkit-box-shadow: 25px 23px 0px 1px #FF8327;
          box-shadow: 25px 23px 0px 1px #FF8327;
  margin-bottom: 50px;
  margin-right: 50px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.box-2 {
  max-width: 35%;
  margin-top: 20px;
}
.box-2 h4 {
  margin-bottom: 0;
}
.box-2 button {
  padding: 5px 35px;
}

.box-3 {
  max-width: 35%;
  margin-left: 150px;
  margin-top: -50px;
}
.box-3 h4 {
  text-align: end;
  margin-bottom: 0;
}
.box-3 button {
  padding: 5px 35px;
  margin-left: 350px;
}

.box-4 {
  max-width: 40%;
  margin-left: 165px;
  -webkit-box-shadow: -32px 28px 0px -5px #FF8327;
          box-shadow: -32px 28px 0px -5px #FF8327;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.party-info {
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}
.party-info h2 {
  text-align: center;
  color: #FF8327;
  margin-bottom: 0;
}
.party-info button {
  padding: 5px 40px;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  margin-bottom: 100px;
}
.events .small-img {
  margin-top: 210px;
  max-width: 40%;
  -webkit-box-shadow: -30px 28px 0px -5px #FF8327;
          box-shadow: -30px 28px 0px -5px #FF8327;
}
.events .event-text {
  max-width: 60%;
  margin-top: 100px;
  margin-left: 100px;
}
.events .event-text h3 {
  color: #FF8327;
}
.events .event-text button {
  padding: 8px 40px;
}

.home-gallery {
  background-color: #220303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 80px;
  margin: 0;
}

.home-gallery li {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  list-style: none;
}

@media (max-width: 500px) {
  body {
    font-size: clamp(0.9rem, 1.25vw, 1rem);
  }
  body p {
    width: max(200px, 100%);
  }
  body button {
    font-size: clamp(0.9rem, 1vw, 1rem);
  }
  body main {
    width: max(320px, 70%);
  }
  .box-1,
.box-4,
.small-img,
.home-gallery {
    display: none;
  }
  .homepg-header {
    height: 20vh;
  }
  .homepg-header h1 {
    font-size: 2rem;
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
    margin-top: -50px;
  }
  .homepg-header .headerbox-img {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 330px;
    font-size: 1rem;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
  }
  .party-info {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  .party-info h2 {
    margin-left: -20px;
    font-size: 1rem;
  }
  .party-info p {
    margin-top: -10px;
  }
  .party-info button {
    padding: 5px;
    margin-right: 20px;
    margin-bottom: -200px;
    font-size: 80%;
  }
  .plan-locations button {
    max-width: 90%;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  .plan-locations .box-2 {
    max-width: 70%;
    margin-top: 30px;
  }
  .plan-locations .box-3 {
    max-width: 70%;
    margin-top: 30px;
    margin-left: auto;
  }
  .solid-house i,
.solid-users i,
.solid-file i,
.solid-phone i {
    background-color: transparent;
  }
  .container1, .container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 50%;
  }
  .new-space {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    margin-top: -100px;
  }
  .container1 .community {
    margin-top: 20px;
  }
  .container2 .blog {
    margin-left: 0;
    margin-top: -30px;
    padding-bottom: 20px;
  }
  .banner {
    width: 100vw;
    margin-top: -70px;
    margin-bottom: -50px;
  }
  .profile-text {
    max-width: 50%;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  .profile-text button {
    font-size: 80%;
  }
  .blog-header {
    height: 30vh;
  }
  .blog-header h1 {
    font-size: 2rem;
  }
  .main-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50px;
  }
  .side-image {
    margin-top: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .side-blog,
.our-mission,
.posts {
    max-width: 100%;
    margin-left: 0;
    background-color: #FFFFFF;
  }
  .our-mission {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .posts {
    margin-bottom: 150px;
  }
  .new-menu h2 {
    font-size: 1.25rem;
  }
  .sulaire,
.renzo {
    display: none;
  }
  .contact-header {
    height: 25vh;
  }
  .contact-title h1 {
    font-size: 2rem;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  .socials,
.contact-info {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    margin-left: -50px;
  }
  .form-box {
    display: none;
  }
}
@media (max-width: 1000px) {
  .headerbox-img {
    display: none;
  }
  .blog-post-img {
    display: none;
  }
  .homepg-header {
    height: 40vh;
  }
  .homepg-header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog-post-img,
.great-locations {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blog-form {
    display: none;
  }
  .form-box {
    display: none;
  }
  .homepg-title h1 {
    font-size: 3rem;
  }
  .contact-title h1 {
    font-size: 3rem;
  }
  .blog-title h1 {
    font-size: 3rem;
  }
}