@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-size: 1.25rem;
  color: #FFFFFF;
  background-color: #111010;
  line-height: 30px;
  letter-spacing: 1.25px;
}

h1 {
  font-size: 5rem;
  letter-spacing: 2.4px;
}

h2 {
  font-size: 2rem;
  letter-spacing: 2.6px;
}

h3,
h4 {
  font-size: 2rem;
  letter-spacing: 2.2px;
}

button {
  font-size: 1.25rem;
  line-height: 32px;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #BF2603;
  border: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 30px;
  font-size: 1.75rem;
  line-height: 29px;
  letter-spacing: 1.9px;
}

nav a {
  margin-right: 30px;
  text-decoration: none;
  color: #FFFFFF;
}

a:hover,
a:focus {
  color: #FF8327;
}

nav .bar-one {
  pointer-events: none;
}

footer {
  background-color: #111010;
  color: #FFFFFF;
}

footer p {
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

.form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  background-color: #220303;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
}

form {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.name {
  margin-right: 20px;
}

.name,
.email-address {
  border: none;
  border-bottom: 2px solid #FFFFFF;
  background-color: #220303;
  color: #FFFFFF;
  padding-left: 10px;
}

textarea {
  border: 2px solid #FFFFFF;
  resize: none;
  margin-bottom: 50px;
  padding: 10px;
  background-color: #220303;
  color: #FFFFFF;
}

.message button {
  padding: 5px 350px;
}

.contact-header {
  background-image: url(../../../assets/contact-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  max-width: 100%;
}

.contact-title {
  position: absolute;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}
.contact-title h1 {
  font-size: 3rem;
}

.bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

.socials li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul li {
  margin: 0 10px;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-info h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 45px;
}

.contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-header {
  background-image: url(../../../assets/blog-header-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}

.blog-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-top: 100px;
}

.main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar1-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90%;
}

.side-img {
  max-width: 60%;
  margin-top: 100px;
  margin-bottom: 20px;
  -webkit-box-shadow: 43px 30px 0px -7px #220303;
          box-shadow: 43px 30px 0px -7px #220303;
}

.side-blog {
  background-color: #220303;
  max-width: 58%;
  margin-left: 50px;
  margin-top: -5px;
}

.our-mission {
  padding-left: 20px;
  margin-bottom: 50px;
  max-width: 90%;
}
.our-mission span {
  font-weight: bolder;
}

.posts {
  max-width: 90%;
}
.posts h4 {
  margin-left: 20px;
}
.posts li {
  margin-left: -18px;
}

.recent-posts li {
  list-style: none;
}

.recent-posts li::before {
  content: "•";
  color: #BF2603;
}

.main-blog {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 200px;
}

.blog-post-img {
  -webkit-box-shadow: -30px 40px 0px 4px #FF8327;
          box-shadow: -30px 40px 0px 4px #FF8327;
}

.new-menu {
  margin: 28px 0 50px -22px;
  padding-top: 20px;
  -webkit-box-shadow: -13px 14px 0px -1px #FF8327;
          box-shadow: -13px 14px 0px -1px #FF8327;
  padding-left: 50px;
}

.blog-date {
  margin-top: -15px;
}

.comments {
  margin-bottom: 50px;
}

.comment-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment-1 .sulaire {
  margin-top: 30px;
  margin-right: 20px;
}
.comment-1 .sulaires-comment {
  max-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comment-1 .comment-date {
  margin-bottom: -10px;
}

.comment-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.comment-2 .renzo {
  margin-top: 5px;
  margin-right: 20px;
}
.comment-2 .renzos-comment {
  max-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comment-2 .comment-date {
  margin-bottom: -10px;
}

.blog-form {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}
.blog-form .name,
.blog-form .email-address {
  padding-right: 100px;
  background-color: #FFFFFF;
}
.blog-form textarea {
  background-color: #FFFFFF;
}

.homepg-header {
  background-image: url(../../assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.homepg-title {
  position: absolute;
  top: 500px;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
  z-index: 1;
}

.headerbox-img {
  position: absolute;
  right: 40%;
  -webkit-transform: translateY(-450px);
          transform: translateY(-450px);
  -webkit-box-shadow: -10px 2px 0px 25px #FF8327;
          box-shadow: -10px 2px 0px 25px #FF8327;
}

.about-captured {
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
}
.about-captured h2 {
  text-align: center;
}
.about-captured button {
  padding: 10px;
}

.plan-locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #220303;
}

.box-1 {
  max-width: 45%;
  -webkit-box-shadow: 35px 31px 0px 1px #FF8327;
          box-shadow: 35px 31px 0px 1px #FF8327;
  margin-bottom: 100px;
  margin-right: 150px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.box-2 {
  max-width: 35%;
  margin-top: 100px;
}
.box-2 button {
  padding: 10px 15px;
}

.box-3 {
  max-width: 35%;
  margin-left: 150px;
}
.box-3 button {
  padding: 10px 15px;
  margin-left: 300px;
}
.box-3 h4 {
  text-align: end;
}

.box-4 {
  max-width: 40%;
  margin-left: 165px;
  -webkit-box-shadow: -32px 35px 0px 1px #FF8327;
          box-shadow: -32px 35px 0px 1px #FF8327;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 85%;
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.container1 .new-spaces {
  margin-right: 100px;
  margin-left: 100px;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 85%;
  margin-bottom: 100px;
  margin-left: 50px;
}
.container2 .blog {
  margin-right: 100px;
  margin-left: 100px;
}

.solid-house,
.solid-users,
.solid-file,
.solid-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.solid-house h4,
.solid-users h4,
.solid-file h4,
.solid-phone h4 {
  margin-left: 10px;
}
.solid-house i,
.solid-users i,
.solid-file i,
.solid-phone i {
  border-radius: 50%;
  background-color: #BF2603;
  padding: 20px;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  margin-bottom: 100px;
}

.small-img {
  margin-top: 100px;
  max-width: 40%;
  -webkit-box-shadow: -20px 20px 0px 9px #FF8327;
          box-shadow: -20px 20px 0px 9px #FF8327;
}

.event-text {
  max-width: 60%;
  margin-top: 100px;
  margin-left: 100px;
}
.event-text button {
  padding: 8px 10px;
}

.home-gallery {
  background-color: #220303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 100px;
  margin: 0;
}

.home-gallery li {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  list-style: none;
}